<!-- Modal -->
<div class="modal fade" id="globalModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Verification</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           Transaction have been updated!
        </div>
        <div class="modal-footer">
          <button class="btn" onclick="closeFunction()" id="CloseButton">Close</button>
      </div>
      </div>
    </div>
  </div>
  
  <script>
    function closeFunction() {
       location.reload(); 
   }

</script>