{% extends 'base.html' %}

{% block content %}
<style>
    form a{
        color: black;
        display: inline;
    }
    form .text-input{
        border-radius: 8px;
        width: 100%;
    }
    .btn{
        border-radius: 8px;
        color: black;
        background-color: #fd5001;
        width: 100%;
    }
    .btn:hover{
        color: white;
        background-color: #fd5001;
    }
    .row{
        padding-bottom: 16px;
    }
</style>
<div class="container-fluid content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Game Proposal Form</h1>
            </div>
        </div>
        <form method="post" action="{% url 'add_game' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-2">
                    <label for="team_A">Team A:</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" placeholder="Team name" id="team_A" name="team_A" class="text-input" required>        
                </div>
                <div class="col-sm-2">
                    <label for="team_B">Team B:</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" placeholder="Team name" id="team_B" name="team_B" class="text-input" required>        
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="info_A">Team Info:</label>
                </div>
                <div class="col-sm-4">
                    <textarea id="info_A" name="info_A" rows="8" class="text-input" required>Please write information about the team!</textarea>    
                </div>
                <div class="col-sm-2">
                    <label for="info_B">Team Info:</label>
                </div>
                <div class="col-sm-4">
                    <textarea id="info_B" name="info_B" rows="8" class="text-input" required>Please write information about the team!</textarea>         
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="logo_A">Logo:</label>
                </div>
                <div class="col-sm-4">
                    <input type="file" id="logo_A" name="logo_A">
                </div>
                <div class="col-sm-2">
                    <label for="logo_B">Logo:</label>
                </div>
                <div class="col-sm-4">
                    <input type="file" id="logo_B" name="logo_B">         
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="min_bet">Minimum Bet:</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" placeholder="Add minimum bet" id="min_bet" name="min_bet" class="text-input" required>        
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="max_bet">Maximum Bet:</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" placeholder="Add maximum bet" id="max_bet" name="max_bet" class="text-input" required>        
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="fee">Fee:</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" placeholder="Add fee" id="fee" name="fee" class="text-input" required>        
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label>Date:</label>
                </div>
                <div class="col-sm-10">
                    <input type="datetime-local" name="date" id="date" required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-2 text-center">
                    <input type="submit" class="btn" value="Submit"></input>
                </div>
                <div class="col-sm-2 text-center">
                    <input type="button" class="btn" href="/admin" value="Back">
                </div>
                <div class="col-sm-4">
                    <p>{{msg}}</p>
                </div>
            </div>
        </form>
    </div>
</div>    
{% endblock content %}