{% extends 'base.html' %}

{% block content %}
<style>
    #search, table{
        width: 100%;
    }
</style>
<div class="container-fluid content">
    <br>
    <div class="row">
        <div class="col-sm-5">
            <input type="text" id="search">
        </div>
        <div class="col-sm-2">
            <input type="submit" value="search">
        </div>
    </div>
    <br>
    <table>
        <tr class="gray-background">
            <th>User ID</th>
            <th>Username</th>
            <th>Request Type</th>
            <th>Amount</th>
            <th>Date Requested</th>
            <th>Date Approved</th>
            <th></th>
        </tr>
        <tr>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td><input type="button" value="Check"></td>
        </tr>
    </table>
</div>
{% endblock content %}