{% extends 'base.html' %}

{% block content %}
<style>
    .btn{
        color: black;
        background-color: #fd9801;
    }
    form .btn{
        width: 100%;
    }
    .btn:hover{
        background-color: #fd9801;
    }
    .row{
        margin-top: 16px;
    }
    input{
        width: 100%;
    }
</style>
<div class="container-fluid white-text content">
    <br>
    <a class="btn" href="/" style="margin-left: 16px;">Back</a><br>
    <div class="forgot-form">
        <div class="row">
            <div class="col text-center">
                <h1>Reset Password</h1>
            </div>
        </div>                         
        <form id="forgot" method="post" action="forgotpassword_setnew"> 
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-4 text-end">
                    <label for="password">New Password:</label>
                </div>
                <div class="col-sm-7 text-start">
                    <input type="password" placeholder="Enter New Password" id="password" name="password" required>  
                </div>
            </div>
            <div class="row" style="margin-top: 8px;">
                <div class="col-sm-4 text-end">
                    <label for="conpassword">Confirm Password:</label>
                </div>
                <div class="col-sm-7 text-start">
                    <input type="password" placeholder="Confirm Password" id="conpassword" name="conpassword" required>  
                </div>
            </div>
            <div class="row" style="margin-top: 8px;">
                <div class="col-sm-4"></div>
                <div class="col-sm-3 text-start">  
                    <button type="submit" class="btn" {% if msg == "Changed Successfully!" %}disabled{% endif %}>Submit</button>
                </div>
                <div class="col-sm-5">
                    {% if msg == "Changed Successfully!" %}
                    <label class="success">{{msg}}</label>
                    {% else %}
                    <label class="error">{{msg}}</label>
                    {% endif %}
                </div>
            </div>
        </form> 
    </div>
</div>
{% endblock content %}