{% extends 'base.html' %}

{% block content %}
<style>
    .content{
        background: gainsboro;
    }
    form label,form a,h1{
        text-shadow: 1px 1px 2px black,
                     0 0 1em gainsboro,
                     0 0 0.2em gainsboro;;
    }
    form a:hover{
        color: black;
    }
    form button{
        border-radius: 20px;
        border: 2px solid #ffffff;
        -webkit-text-stroke: .2px black;
    }
    form button:hover{
        background-color: white;
        border: 2px solid #000000;
    }
</style>
<div class="container-fluid white-text content">
    <br><br>
    <div class="forgot-form">
        <div class="row">
            <div class="col text-center">
                <h1>Reset Password</h1>
            </div>
        </div>                         
        <form id="forgot" method="post" action="forgotpassword_setnew"> 
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-6 text-end">
                    <label for="password">New Password:</label>
                </div>
                <div class="col-sm-6 text-start">
                    <input type="password" placeholder="Enter New Password" id="password" name="password" required>  
                </div>
            </div>
            <div class="row" style="margin-top: 8px;">
                <div class="col-sm-6 text-end">
                    <label for="conpassword">Confirm Password:</label>
                </div>
                <div class="col-sm-6 text-start">
                    <input type="password" placeholder="Confirm Password" id="conpassword" name="conpassword" required>  
                </div>
            </div>
            <div class="row" style="margin-top: 8px;">
                <div class="col-sm-6"></div>
                <div class="col-sm-6 text-start">  
                    {% if msg == "Changed Successfully!" %}
                    <button type="submit" disabled>Submit</button>
                    {% else %}
                    <button type="submit">Submit</button>
                    {% endif %} 
                    {% if msg == "Changed Successfully!" %}
                    <label>{{msg}}</label>
                    {% else %}
                    <label style="color: red;">{{msg}}</label>
                    {% endif %}
                </div>
            </div>
        </form> 
    </div>
</div>
{% endblock content %}