{% extends 'base.html' %}

{% block content %}
<style>
    .btn{
        color: black;
        background-color: #fd9801;
    }
    form .btn{
        width: 100%;
    }
    .btn:hover{
        background-color: #fd9801;
    }
    #otp{
        width: 100%;
    }
    .row{
        margin-top: 16px;
    }
</style>
<div class="container-fluid white-text content content-background">
    <br>
    <a class="btn" href="/forgotpassword" style="margin-left: 16px;">Back</a>
    <br>
    <div class="forgot-form">
        <div class="row">
            <div class="col text-center">
                <h1>Reset Password</h1>
            </div>
        </div>                         
        <form id="forgot" method="post" action="/forgotpassword_otp">  
            {% csrf_token %}  
            <div class="row">
                <div class="col-sm-3 text-end">
                    <label for="otp">OTP:</label>
                </div>
                <div class="col-sm-7 text-start">
                    <input type="text" placeholder="Enter OTP" id="otp" name="otp" required>        
                </div>
            </div>
            <div class="row" style="margin-top: 8px;">
                <div class="col-sm-3"></div>
                <div class="col-sm-3 text-start">   
                    <button type="submit" class="btn">Submit</button>
                </div>
                <div class="col-sm-6">
                    <label style="color: red;">{{ msg }}</label>
                </div>
            </div>
        </form> 
    </div>
</div>
{% endblock content %}