{% extends 'base.html' %}

{% block content %}
<style>
    form a{
        text-decoration: none;
        color: white;
    }
    form a:hover{
        text-shadow: 1px 1px 2px black,
                     0 0 1em gainsboro,
                     0 0 0.2em gainsboro;;
    }
</style>
<div class="container-fluid content">
    <br>
    <a class="btn btn-secondary" href="/">Back</a>
    <br>
    <div class="forgot-form">
        <div class="row">
            <div class="col text-center">
                <h1 class="white-text">Reset Password</h1>
            </div>
        </div>                         
        <form id="forgot" method="post" action="/forgotpassword">
            {% csrf_token %}   
            <div class="row">
                <div class="col-sm-4 text-end">
                    <label for="email">Email:</label>
                </div>
                <div class="col-sm-4 text-start">
                    <input type="email" placeholder="Enter Email" id="email" name="email" required>        
                </div>
            </div>
            <div class="row" style="margin-top: 8px;">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 text-start">   
                    <input class="btn btn-secondary" type="submit" value="Next" id="submit"></input>
                    <p class="error">{{ msg }}</p>
                </div>
            </div>
        </form> 
    </div>
</div>
{% endblock content %}