{% extends 'base.html' %}

{% block content %}
<style>
  p{
    display: inline
  }
  .content p, .content img{
    margin: 16px 6.2%;
  }
  .content a{
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  #switch_view{
    background-color: #fd5001;
    width: 250px;
    height: 50px;
  }
  #vs{
    margin-top: 75%;
  }
  .card {
          height: 400px;
        }
        .card-img-top {
          max-width: 100%;
          height: 70vh;
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        }
</style>
<div class="container-fluid content">
  <div class="container">
    <br>
    <br>
    <div>
      <div class="container text-center">
        <div class="row">
          <div class="col-md-4">
            <a href="#featured"> <!-- Link to the 'featured' section -->
              <div>
                <img class="card-img-top" src="/static/img/featured.png" alt="Featured Matches Image">
                <div class="card-body">
                  <h5 class="card-title">Featured Matches</h5>
                  <p class="card-text">Discover the top matches of the season.</p>
                </div>
              </div>
            </a>
          </div>
          
        <!-- Local Matches Card -->
        <div class="col-md-4">
          <a href="#local"> <!-- Link to the 'featured' section -->
            <div>
              <img class="card-img-top" src="/static/img/local.png" alt="Featured Matches Image">
              <div class="card-body">
                <h5 class="card-title">Local Matches</h5>
                <p class="card-text">Discover the local matches of the season.</p>
              </div>
            </div>
          </a>
        </div>

        <!-- Recent Matches Card -->
        <div class="col-md-4">
          <a href="#recent"> <!-- Link to the 'featured' section -->
            <div>
              <img class="card-img-top" src="/static/img/recent.png" alt="Featured Matches Image">
              <div class="card-body">
                <h5 class="card-title">Recent Matches Matches</h5>
                <p class="card-text">Discover the recent matches of the season.</p>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
      
      <br><br>
      <br>
    </div>
    <div class="text-center">
      <button class="btn" id="switch_view" onclick="toggleView()">Switch View</button>
    </div>
    <div class="section-separator"></div>
    <div class="row" id="featured">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 text-center">
        <h2>Featured Matches</h2>
      </div>
   
    </div>
    <!-- for loop here -->
    
    <div id="teamCarouselFeatured" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for game in games %}
          {% if forloop.counter0 < 5 %} {# Limiting to 5 items #}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <div class="row justify-content-center">
                <div class="col-sm-5 text-center">
                  <a href="{% url 'game' game.slug %}">
                    <img src="{{game.logo_A.url}}" width="300px" height="300px" />
                  </a>
                </div>
                <div class="col-sm-2 text-center">
                  <a href="{% url 'game' game.slug %}">
                    <h1 id="vs">VS</h1>
                  </a>
                </div>
                <div class="col-sm-5 text-center">
                  <a href="{% url 'game' game.slug %}">
                    <img src="{{game.logo_B.url}}" width="300px" height="300px" />
                  </a>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-sm-5 text-center">
                  <a href="{% url 'game' game.slug %}">
                    <h5>{{ game.team_A }}</h5>
                  </a>
                </div>
                <div class="col-sm-2">
                  </a>
                </div>
                <div class="col-sm-5 text-center">
                  <a href="{% url 'game' game.slug %}">
                    <h5>{{ game.team_B }}</h5>
                  </a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#teamCarouselFeatured" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="font-size: 2rem; color: white;"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#teamCarouselFeatured" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" style="font-size: 2rem; color: white;"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <div id="normalViewFeatured" style="display: none;">
      {% for game in games %}
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-2 text-end">
            <a href="{% url 'game' game.slug %}">
              <p>{{ game.team_A }}</p>
              <img src="{{game.logo_A.url}}" width="30px" height="30px" />
            </a>
          </div>
          <div class="col-sm-2 text-center" style="padding-top: 16px;">
            <a href="{% url 'game' game.slug %}"><p>VS</p></a>
          </div>
          <div class="col-sm-2 text-start">
            <a href="{% url 'game' game.slug %}">
              <img src="{{game.logo_B.url}}" width="30px" height="30px" />
              <p>{{ game.team_B }}</p>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- if no featured matches available -->
    {% if not games %}
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 text-center" style="padding-top: 16px;">
        <p>No matches available at the moment</p>
      </div>
    </div>
    {% endif %}
    <br>

    <div class="row"  >
      <div class="col-sm-3"></div>
      
    </div>
    <div class="section-separator"></div>
    <div class="row" id="local">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 text-center">
        <h2>Local Matches</h2>
      </div>
     
      <div class="col-sm-2 text-start" style="padding-top: 10px;">
        {% if request.user.is_organizer and not request.user.is_admin %}
        <a href="/add-game">+ Add game</a>
        {% endif %}
      </div>
    </div>
    <!-- for loop here -->
    <div id="teamCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for game in local %}
          {% if forloop.counter0 < 5 %} {# Limiting to 5 items #}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <div class="row justify-content-center">
                <div class="col-sm-5 text-center">
                  <a href="{% url 'game' game.slug %}">
                    <img src="{{game.logo_A.url}}" width="300px" height="300px" />
                  </a>
                </div>
                <div class="col-sm-2 text-center">
                  <a href="{% url 'game' game.slug %}">
                    <h1 id="vs">VS</h1>
                  </a>
                </div>
                <div class="col-sm-5 text-center">
                  <a href="{% url 'game' game.slug %}">
                    <img src="{{game.logo_B.url}}" width="300px" height="300px" />
                  </a>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-sm-5 text-center">
                  <a href="{% url 'game' game.slug %}">
                    <h5>{{ game.team_A }}</h5>
                  </a>
                </div>
                <div class="col-sm-2">
                  </a>
                </div>
                <div class="col-sm-5 text-center">
                  <a href="{% url 'game' game.slug %}">
                    <h5>{{ game.team_B }}</h5>
                  </a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="font-size: 2rem; color: white;"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#teamCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" style="font-size: 2rem; color: white;"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <div id="normalView" style="display: none;">
      {% for game in local %}
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-2 text-end">
            <a href="{% url 'game' game.slug %}">
              <p>{{ game.team_A }}</p>
              <img src="{{game.logo_A.url}}" width="30px" height="30px" />
            </a>
          </div>
          <div class="col-sm-2 text-center" style="padding-top: 16px;">
            <a href="{% url 'game' game.slug %}"><p>VS</p></a>
          </div>
          <div class="col-sm-2 text-start">
            <a href="{% url 'game' game.slug %}">
              <img src="{{game.logo_B.url}}" width="30px" height="30px" />
              <p>{{ game.team_B }}</p>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    
  

    
    
    <!-- If no local matches available -->
    {% if not local %}
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 text-center" style="padding-top: 16px;">
        <p>No matches available at the moment</p>
      </div>
    </div>
    {% endif %}
    <br>
    
    <div class="row">
      <div class="col-sm-3"></div>
      
    </div>
    <div class="section-separator"></div>
    <div class="row"  id="recent">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 text-center">
        <h2>Recent Matches</h2>
      </div>
    </div>


    <div id="teamCarouselDone" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for game in done %}
          {% if forloop.counter0 < 5 %} {# Limiting to 5 items #}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <div class="row justify-content-center">
                <div class="col-sm-5 text-center">
                  <a href="{% url 'game' game.slug %}">
                    <img src="{{game.logo_A.url}}" width="300px" height="300px" />
                  </a>
                </div>
                <div class="col-sm-2 text-center">
                  <a href="{% url 'game' game.slug %}">
                    <h1 id="vs">VS</h1>
                  </a>
                </div>
                <div class="col-sm-5 text-center">
                  <a href="{% url 'game' game.slug %}">
                    <img src="{{game.logo_B.url}}" width="300px" height="300px" />
                  </a>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-sm-5 text-center">
                  <a href="{% url 'game' game.slug %}">
                    <h5>{{ game.team_A }}</h5>
                  </a>
                </div>
                <div class="col-sm-2">
                  </a>
                </div>
                <div class="col-sm-5 text-center">
                  <a href="{% url 'game' game.slug %}">
                    <h5>{{ game.team_B }}</h5>
                  </a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#teamCarouselDone" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="font-size: 2rem; color: white;"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#teamCarouselDone" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" style="font-size: 2rem; color: white;"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <div id="normalViewDone" style="display: none;">
      {% for game in done %}
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-2 text-end">
            <a href="{% url 'game' game.slug %}">
              <p>{{ game.team_A }}</p>
              <img src="{{game.logo_A.url}}" width="30px" height="30px" />
            </a>
          </div>
          <div class="col-sm-2 text-center" style="padding-top: 16px;">
            <a href="{% url 'game' game.slug %}"><p>VS</p></a>
          </div>
          <div class="col-sm-2 text-start">
            <a href="{% url 'game' game.slug %}">
              <img src="{{game.logo_B.url}}" width="30px" height="30px" />
              <p>{{ game.team_B }}</p>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    
    <script>
      function toggleView() {
        var carouselView = document.getElementById("teamCarousel");
        var normalView = document.getElementById("normalView");
        if (carouselView.style.display === "none") {
          carouselView.style.display = "block";
          normalView.style.display = "none";
        } else {
          carouselView.style.display = "none";
          normalView.style.display = "block";
        }
    
        var carouselView = document.getElementById("teamCarouselFeatured");
        var normalView = document.getElementById("normalViewFeatured");
        if (carouselView.style.display === "none") {
          carouselView.style.display = "block";
          normalView.style.display = "none";
        } else {
          carouselView.style.display = "none";
          normalView.style.display = "block";
        }

        var carouselView = document.getElementById("teamCarouselDone");
        var normalView = document.getElementById("normalViewDone");
        if (carouselView.style.display === "none") {
          carouselView.style.display = "block";
          normalView.style.display = "none";
        } else {
          carouselView.style.display = "none";
          normalView.style.display = "block";
        }
        
      }
    </script>

    
    <!-- If no recent matches available -->
    {% if not done %}
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 text-center" style="padding-top: 16px;">
        <p>No recent matches at the moment</p>
      </div>
    </div>
    {% endif %}
  </div>
</div>
<style>
  .carousel-control-next-icon {
    color: white !important;
}
.section-separator {
    border-bottom: 1px solid #ccc; 
    margin: 20px 0; 
  }

</style>
{% endblock content %}