{% extends 'base.html' %}

{% block content %}
<style>
    form a:hover{
        color: black;
    }
    form button{
        border-radius: 20px;
        border: 2px solid #ffffff;
        -webkit-text-stroke: .2px black;
    }
    form button:hover{
        background-color: white;
        border: 2px solid #000000;
    }
    .error{
        text-shadow: none;
    }
</style>
<div class="container-fluid content">
    <br><br>
    <div class="login-form">
        <div class="row">
            <div class="col text-center">
                <h1 class="white-text">Log in</h1>
            </div>
        </div>                         
        <form id="login" method="post" action="/login">
            {% csrf_token %}    
            <div class="row">
                <div class="col-sm-6 text-end">
                    <label for="username">Username:</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" placeholder="Enter Username" id="username" name="username" required>        
                </div>
            </div>
            <div class="row" style="margin-top: 8px;">
                <div class="col-sm-6 text-end">
                    <label for="password">Password:</label>
                </div>
                <div class="col-sm-6">
                    <input type="password" placeholder="Enter Password" id="password" name="password" required>  
                </div>
            </div>
            <div class="row" style="margin-top: 8px;">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <button type="submit">Login</button>
                    <label class="error">{{ str }}</label>
                </div>
            </div>
            <div class="row" style="margin-top: 8px;">
                <div class="col-sm-6"></div>
                <div class="col-sm-6 white-text">
                    <a href="/forgotpassword">Forgot password?</a>
                </div>
            </div>
            <div class="row" style="margin-top: 8px;">
                <div class="col-sm-6"></div>
                <div class="col-sm-6 white-text">
                    <a href="/signup">Don't have an account?</a>
                </div>
            </div>
        </form> 
    </div>
</div>
{% endblock content %}