{% extends 'base.html' %}

{% block content %}
<style>
    form a{
        color: white;
        text-decoration: none;
    }
    form a:hover{
        text-shadow: 1px 1px 2px black,
                     0 0 1em gainsboro,
                     0 0 0.2em gainsboro;;
    }
    form button{
        border-radius: 20px;
        border: 2px solid #ffffff;
        -webkit-text-stroke: .2px black;
    }
    form button:hover{
        background-color: white;
        border: 2px solid #000000;
    }
    .error{
        text-shadow: none;
    }
    form input{
        border-radius: 8px;
        width: 250px;
    }
    #submit{
        background-color: gray;
    }
    .row{
        padding-top: 16px;
    }
</style>
<div class="container-fluid content">
    <br>
    <div class="text-center">
        <div class="row">
            <div class="col">
                <img src="/static/img/avatar.jpg" height="120px" width="120px">
            </div>
        </div>                         
        <form id="login" method="post" action="/">
            {% csrf_token %}    
            <div class="row">
                <div class="col">
                    <input type="text" placeholder="Enter Username" id="username" name="username" required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="password" placeholder="Enter Password" id="password" name="password" required>  
                </div>
            </div>
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <div class="row">
                <div class="col">
                    <input type="submit" id="submit" value="Login">
                    <p class="error">{{ str }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="/forgotpassword">Forgot password?</a><br>
                    <a href="/signup">Don't have an account?</a>
                </div>
            </div>
        </form> 
    </div>
</div>
{% endblock content %}