{% extends 'base.html' %}

{% block content %}
<style>
    p{
        display: inline;
    }
    .content a{
        color: black;
        width: 100%;
        text-shadow: none;
    }
    .border{
        width: 800px;
        height: 760px;
        padding: 30px;
    }
    .btn{
        background-color: #fd9801;
    }
    .btn:hover{
        background-color: #fd9801;
    }
    .data .col-sm-3{
        border-right: solid;
    }
    .col-sm-8 p{
        margin-left: 12px;
        font-size: large;
    }
</style>
<div class="container-fluid content">
    <div class="container">
        <br>
        <div class="container border">
            <div class="row text-center">
                <h1>Profile</h1>
            </div>
            <br>
            <div class="data">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <p>User ID: </p>
                    </div>
                    <div class="col-sm-8">
                        <p>{{ request.user.id }}</p>
                        <div class="section-separator"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <p>Username: </p>
                    </div>
                    <div class="col-sm-8">
                        <p>{{ request.user.username }}</p>
                        <div class="section-separator"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <p>Firstname: </p>
                    </div>
                    <div class="col-sm-8">
                        <p>{{ request.user.firstname }}</p>
                        <div class="section-separator"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <p>Lastname: </p>
                    </div>
                    <div class="col-sm-8">
                        <p>{{ request.user.lastname }}</p>
                        <div class="section-separator"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <p>Birthdate: </p>
                    </div>
                    <div class="col-sm-8">
                        <p>{{ request.user.birthdate }}</p>
                        <div class="section-separator"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <p>Address: </p>
                    </div>
                    <div class="col-sm-8">
                        <p>{{ request.user.address }}</p>
                        <div class="section-separator"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <p>Mobile: </p>
                    </div>
                    <div class="col-sm-8">
                        <p>{{ request.user.mobileNumber }}</p>
                        <div class="section-separator"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <p>Email: </p>
                    </div>
                    <div class="col-sm-8">
                        <p>{{ request.user.email }}</p>
                        <div class="section-separator"></div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-3">
                    <a class="btn" href="/update_password" >Change Password</a>
                </div>
                <div class="col-sm-3">
                    <a href="/update" class="btn">Update</a>
                </div>
            </div>
        </div>  
        <br>
    </div>
</div>
{% endblock content %}