{% extends 'base.html' %}

{% block content %}
<style>
    p{
        display: inline;
    }
    .content a{
        color: black;
        display: inline;
        text-shadow: none;
        margin-right: 36px;
    }
    .row{
        padding-bottom: 16px;
    }
    .border{
        width: 800px;
        height: 300px;
        padding: 30px;
    }
    table{
        width: 83%;
    }
    td{
        padding-top: 10px;
    }
    .btn{
        background-color: #fd9801;
    }
    .btn:hover{
        background-color: #fd9801;
    }
    table input{
        width: 100%;
    }
</style>
<div class="container-fluid content">
    <div class="container">
        <br>
        <div class="border">
            <h2>My Profile</h2>
            <div class="row">
                <div class="col-sm-2 ">
                    <p>User ID: </p>
                </div>
                <div class="col-sm-4">
                    <p>{{ request.user.id }}</p>
                </div>
                <div class="col-sm-2 ">
                    <p>Username: </p>
                </div>
                <div class="col-sm-4">
                    <p>{{ request.user.username }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 ">
                    <p>Firstname: </p>
                </div>
                <div class="col-sm-4">
                    <p>{{ request.user.firstname }}</p>
                </div>
                <div class="col-sm-2 ">
                    <p>Lastname: </p>
                </div>
                <div class="col-sm-4">
                    <p>{{ request.user.lastname }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 ">
                    <p>Birthdate: </p>
                </div>
                <div class="col-sm-4">
                    <p>{{ request.user.birthdate }}</p>
                </div>
                <div class="col-sm-2 ">
                    <p>Address: </p>
                </div>
                <div class="col-sm-4">
                    <p>{{ request.user.address }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 ">
                    <p>Mobile: </p>
                </div>
                <div class="col-sm-4">
                    <p>{{ request.user.mobileNumber }}</p>
                </div>
                <div class="col-sm-2 ">
                    <p>Email: </p>
                </div>
                <div class="col-sm-4">
                    <p>{{ request.user.email }}</p>
                </div>
            </div>
            <div class="container">
                <a class="btn" href="/update_password" >Change Password</a>
                <a href="/update" class="btn">Update</a>
            </div>
        </div>  
        <br>
        <div class="row">
            <div class="col-sm-8 table-background">
                {% if request.user.is_organizer %}
                <h2>Organized Games</h2>
                {% else %}
                <h2>History</h2>
                {% endif %}
            </div>
            <div class="col-sm-2 table-background"></div>
        </div>
        {% if request.user.is_organizer %}
        <table class="text-center">
            <tr>
                <th>Game ID</th>
                <th>Teams</th>
                <th>Winner</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
            {% for game in games %}
            <tr>
                <td>{{game.id}}</td>
                <td>
                    <img src="{{game.logo_A.url}}" width="30px" height="30px" />
                    <label>{{game}}</label>
                    <img src="{{game.logo_B.url}}" width="30px" height="30px" />
                </td>
                <td>{{game.winner}}</td>
                <td>{{game.date}}</td>
                <td><input type="button" class="btn" value="{% if game.winner == 'TBD' %}Update{% else %}Check{% endif %}"></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <table class="text-center">
            <tr>
                <th>Amount</th>
                <th>Game</th>
                <th>Team</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        {% for bet in bets %}
            <tr>
                <td>{{bet.amount}}</td>
                <td>
                    <img src="{{bet.game.logo_A.url}}" width="30px" height="30px" />
                    <label>{{bet.game}}</label>
                    <img src="{{bet.game.logo_B.url}}" width="30px" height="30px" />
                </td>
                <td>{% if bet.team == "Team A" %}
                    <label>{{ bet.game.team_A }}</label>
                    {% else %}
                    <label>{{ bet.game.team_B }}</label>
                    {% endif %}
                </td>
                <td>{{bet.date}}</td>
                <td>{{bet.status}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %} 
    </div>
</div>
{% endblock content %}