{% block content %}
<style>
    .row{
        padding-bottom: 16px;
    }
    .content input{
        width: 100%;
    }
</style>
        <form id="send" method="post" action="/send_user">
            {% csrf_token %}
            <div>
                <h2 style="margin-left: 50%;">Transfer</h2>
                <div class="row spacing">
                    <div class="col-sm-4 text-end">
                        <label for="amount">Amount:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="number" placeholder="Enter Amount" id="amount" name="amount" required> 
                        <label class="error" {% if not msg1 %}style="display: none;"{% endif %}>{{ msg1 }}</label>
                    </div>
                </div>
                <div class="row spacing">
                    <div class="col-sm-4 text-end">
                        <label for="userid">User ID:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="number" placeholder="Enter User ID" id="userid" name="userid" required>
                        <label class="error" {% if not msg2 %}style="display: none;"{% endif %}>{{ msg2 }}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <button type="submit" class="btn submit">Transfer</button>
                    </div>
                </div>
                <label class="success">{{ msg }}</label>
            </div>
        </form>
{% endblock content %}