{% block content %}
<style>
    .row{
        padding-bottom: 16px;
    }
    .content input{
        width: 100%;
    }
</style>
        <div>
            <h2 style="margin-left: 50%;">Transfer</h2>
            <div class="row">
                <div class="col-sm-4 text-end">
                    <label for="amount">Amount:</label>
                </div>
                <div class="col-sm-8">
                    <input type="number" placeholder="Enter Amount" id="amount" name="amount" required> 
                    <label class="error" {% if not msg1 %}style="display: none;"{% endif %}>{{ msg1 }}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-end">
                    <label for="userid">User ID:</label>
                </div>
                <div class="col-sm-8">
                    <input type="number" placeholder="Enter User ID" id="userid" name="userid" required>
                    <label class="error" {% if not msg2 %}style="display: none;"{% endif %}>{{ msg2 }}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <button class="btn" onclick="transferFunction()">Transfer</button>
                </div>
            </div>
            <label class="success">{{ msg }}</label>
        </div>
        <script>
            function transferFunction() {
                $('#myModal #message').text('Do you want to continue with the withdrawal?');
                $('#myModal').modal('show');
            }
        </script>
{% endblock content %}