{% block content %}
<style>
    .content h2{
        color: white;
        text-shadow: 1px 1px 2px black,
                     0 0 1em gainsboro,
                     0 0 0.2em gainsboro;;
    }
    .login-form{
        border-radius: 15px;
        height: 220px;
    }
    .right-indent{
        margin-left: 12px;
    }
    .left-indent{
        margin-right: 12px;
    }
    hr{
        height: 10px;
        border: 0;
        box-shadow: 0 10px 10px -10px black inset;
        margin: 0;
    }
    .content a{
        color: black;
        display: inline;
    }
    .btn{
        border-radius: 20px;
        border: 2px solid #ffffff;
        -webkit-text-stroke: .2px white;
    }
    .spacing{
        padding-bottom: 16px;
    }
    .partner{
        border-color: black;
        border-width: 2px;
        border-radius: 7px;
        height: 30px;
        width: 105px;
    }
    .submit{
        margin-left: 130px;
    }
    .border{
        width: 600px;
        height: 300px;
        padding: 30px;
    }

</style>
        <form id="send" method="post" action="/send_user">
            {% csrf_token %}
            <div>
                <hr>
                <div class="row spacing">
                    <div class="col-sm-3 text-end">
                        <label for="amount">Amount:</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="number" placeholder="Enter Amount" id="amount" name="amount" required> 
                        <label class="error">{{ msg1 }}</label>
                    </div>
                </div>
                <div class="row spacing">
                    <div class="col-sm-3 text-end">
                        <label for="userid">User ID:</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="number" placeholder="Enter User ID" id="userid" name="userid" required>
                        <label class="error">{{ msg2 }}</label>
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn submit">Send</button>
                <label class="success">{{ msg }}</label>
            </div>
        </form>
{% endblock content %}