{% extends 'base.html' %}

{% block content %}
<style>
    form a:hover{
        text-shadow: 1px 1px 2px black,
                     0 0 1em gainsboro,
                     0 0 0.2em gainsboro;;
    }
    form input{
        width: 100%;
    }
    .signup-form .row{
        margin-top: 12px;
    }
    hr{
        height: 10px;
        border: 0;
        box-shadow: 0 10px 10px -10px rgb(255, 255, 255) inset;
        margin: 0;
    }
    .type{
        width: 32px;
    }
    #submit{
        background-color: gray;
    }
</style>
<div class="container-fluid content">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="signup-form">
                <div class="row">
                    <div class="col text-center">
                        <h1 class="white-text">Sign up</h1>
                    </div>
                </div>
                <form id="signup" method="post" action="/signup">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-2 text-end">
                            <label for="firstname">Firstname: </label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" name="firstname" id="firstname" placeholder="Enter Firstname" required>
                        </div>
                        <div class="col-sm-3 text-end">
                            <label for="lastname">Lastname:</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="lastname" placeholder="Enter Lastname" id="lastname" name="lastname" required>  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 text-end">
                            <label for="username">Username:</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" placeholder="Enter Username" id="username" name="username" required>        
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 text-end">
                            <label for="password">Password:</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="password" placeholder="Enter Password" id="password" name="password" required>  
                        </div>
                        <div class="col-sm-3 text-end">
                            <label for="conpassword">Confirm Password:</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="password" placeholder="Confirm Password" id="conpassword" name="conpassword" required>  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 text-end">
                            <label for="address">Address:</label>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" width="" placeholder="Enter Address" id="address" name="address" required>        
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 text-end">
                            <label for="email">Email:</label>
                        </div>
                        <div class="col-sm-5">
                            <input type="email" placeholder="Enter Valid Email" id="email" name="email" required 
                                placeholder="username@gmail.com"
                                pattern=".+@gmail\.com"
                                title="Please provide only Gmail corporate email address">        
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 text-end">
                            <label for="mobileNumber">Mobile Number:</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="number" placeholder="Enter Mobile Number" id="mobileNumber" name="mobileNumber" required>        
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 text-end">
                            <label>Date of birth:</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="date" placeholder="Birth Date" id="birthdate" name="birthdate">        
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-3">
                            <input type="submit" id="submit" value="Signup">
                            {% if msg %}
                                <label class="error">{{ msg }}</label>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-6">
                            <a href="/">Already have an account?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}