{% extends 'base.html' %}

{% block content %}
<style>
    form a:hover{
        color: black;
    }
    form button{
        border-radius: 20px;
        border: 2px solid #ffffff;
        -webkit-text-stroke: .2px black;
    }
    form button:hover{
        background-color: white;
        border: 2px solid #000000;
    }
    .note-form{
        float: right;
        font-size: 12.88px;
    }
    .help{
        margin-top: 24px;
    }
</style>
<div class="container-fluid content">
    <br><br>
    <div class="row">
        <div class="col-sm-9">
            <div class="signup-form">
                <div class="row">
                    <div class="col text-center">
                        <h1 class="white-text">Sign up</h1>
                    </div>
                </div>
                <form id="signup" method="post" action="/signup">
                    {% csrf_token %}    
                    <div class="row">
                        <div class="col-sm-6 text-end">
                            <label for="username">Username:</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" placeholder="Enter Username" id="username" name="username" required>        
                        </div>
                    </div>
                    <div class="row" style="margin-top: 8px;">
                        <div class="col-sm-6 text-end">
                            <label for="password">Password:</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="password" placeholder="Enter Password" id="password" name="password" required>  
                        </div>
                    </div>
                    <div class="row" style="margin-top: 8px;">
                        <div class="col-sm-6 text-end">
                            <label for="conpassword">Confirm Password:</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="password" placeholder="Confirm Password" id="conpassword" name="conpassword" required>  
                        </div>
                    </div>
                    <div class="row" style="margin-top: 8px;">
                        <div class="col-sm-6 text-end">
                            <label for="email">Email:</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="email" placeholder="Enter Valid Email" id="email" name="email" required 
                                placeholder="username@gmail.com"
                                pattern=".+@gmail\.com"
                                title="Please provide only Gmail corporate email address">        
                        </div>
                    </div>
                    <div class="row" style="margin-top: 8px;">
                        <div class="col-sm-6 text-end">
                            <label for="mobileNumber">Mobile Number:</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="number" placeholder="Enter Mobile Number" id="mobileNumber" name="mobileNumber" required>        
                        </div>
                    </div>
                    <div class="row" style="margin-top: 8px;">
                        <div class="col-sm-6 text-end">
                            <label for="type">Account Type:</label>
                        </div>
                        <div class="col-sm-6 white-text">
                            <input type="radio" id="bettor" name="type" value="bettor" checked>
                            <label for="bettor" style="margin-right: 8px;">Bettor</label>        
                            <input type="radio" id="organizer" name="type" value="organizer">
                            <label for="organizer">Organizer</label>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 8px;">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <button type="submit">Signup</button>
                            <label class="error">{{ msg }}</label>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 8px;">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6 white-text">
                            <a href="/login">Already have an account?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-3 help">
            <h1 class="white-text">Note:</h1>
            <div class="note-form" style="margin-top: 8px;">
                <label class="{% if error %}error{% else %}success{% endif %}">{{ helpTxt }}</label>
            </div>
        </div>
    </div>
    
    
</div>
{% endblock content %}