{% extends 'base.html' %}

{% block content %}
<style>
    .content a{
        color: black;
        display: inline;
    }
    .white-text{
        text-shadow: 1px 1px 2px black,
                     0 0 1em gainsboro,
                     0 0 0.2em gainsboro;;
    }
    .btn{
        border-radius: 20px;
        border: 2px solid #ffffff;
        -webkit-text-stroke: .2px black;
    }
    .btn:hover{
        color: black;
        background-color: white;
        border: 2px solid #000000;
    }
    .login-form{
        border-radius: 15px;
        height: 266px;
    }
    hr{
        height: 10px;
        border: 0;
        box-shadow: 0 10px 10px -10px black inset;
        margin: 0;
    }
    .ml12{
        margin-left: 12px;
    }
    .row{
        padding-bottom: 16px;
    }
    .submit{
        margin-left: 130px;
    }
</style>
<div class="container-fluid content">
    <div class="container">
        <br>
        <a class="btn" href="/profile">Back</a>
        <br>
        <br>
        <div class="login-form">
            <h2 class="white-text ml12">Update Profile</h2>
            <hr>
            <form id="signup" method="post" action="/update_user">
            {% csrf_token %}
                <div class="row">
                    <div class="col-sm-3 text-end">
                        <label for="username" >Username:</label>
                    </div>
                    <div class="col-sm-9">
                        {% if msg_user == "Changed!" %}
                        <input type="text" id="username" name="username" value="{{ username }}" required>
                        {% else %}
                        <input type="text" id="username" name="username" value="{{ request.user.username }}" required>
                        {% endif %}
                        <label class="success">{{ msg_user }}</label>
                        <label class="error">{{ msg_user_warn }}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-end">
                        <label for="email">Email:</label>
                    </div>
                    <div class="col-sm-9">
                        {% if msg_email == "Changed!" %}
                        <input type="email" id="email" name="email" value="{{ email }}" required>
                        {% else %}
                        <input type="email" id="email" name="email" value="{{ request.user.email }}" required>
                        {% endif %}
                        <label class="success">{{ msg_email }}</label>
                        <label class="error">{{ msg_email_warn }}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-end">
                        <label for="mobileNumber">Mobile:</label>
                    </div>
                    <div class="col-sm-9">
                        {% if msg_num == "Changed!" %}
                        <input type="number" id="mobileNumber" name="mobileNumber" value="{{ mobileNumber }}" required>
                        {% else %}
                        <input type="number" id="mobileNumber" name="mobileNumber" value="{{ request.user.mobileNumber }}" required>
                        {% endif %}
                        <label class="success">{{ msg_num }}</label>
                        <label class="error">{{ msg_num_warn }}</label>
                    </div>
                </div>
                <hr>
                <button class="btn submit" type="submit">Update</button>
                <label class="success">{{ msg }}</label>
            </form>
        </div>
                
    </div>
</div>
{% endblock content %}