{% extends 'base.html' %}

{% block content %}
<style>
    p{
        display: inline;
    }
    .content a{
        color: black;
    }
    .row{
        padding-bottom: 16px;
    }
    .border{
        width: 600px;
        height: 300px;
        padding: 30px;
    }
</style>
<div class="container-fluid content">
    <div class="container">
        <br>
        <div class="border">
            <h2 class="white-text">My Wallet</h2>
            <div class="row">
                <div class="col-sm-2 text-end">
                    <p>User ID: </p>
                </div>
                <div class="col-sm-10">
                    <p class="white-text">{{ request.user.id }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 text-end">
                    <p>Username: </p>
                </div>
                <div class="col-sm-10">
                    <p class="white-text">{{ request.user.username }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 text-end">
                    <p>Credits: </p>
                </div>
                <div class="col-sm-10">
                    <p class="white-text">{{ request.user.wallet }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 text-end">
                    <p>On hold: </p>
                </div>
                <div class="col-sm-10">
                    <p class="white-text">{{ request.user.on_hold }}</p>
                </div>
            </div>
            <div class="container">
                <a class="btn btn-secondary" href="/withdraw">Withdraw</a>
                {% if not request.user.is_organizer %}
                <a class="btn btn-secondary" href="/deposit" >Deposit</a>
                <a class="btn btn-secondary" href="/send">Send</a>
                {% endif %} 
            </div>
        </div>    
    </div>
</div>
{% endblock content %}