{% block content %}
<style>
    .login-form{
        border-radius: 15px;
        height: 220px;
    }
    hr{
        height: 10px;
        border: 0;
        box-shadow: 0 10px 10px -10px black inset;
        margin: 0;
    }
    .content a, .content input{
        color: black;
        display: inline;
    }
    .btn{
        border-radius: 8px;
    }
    .row{
        padding-bottom: 16px;
    }
    .partner{
        border-color: black;
        border-width: 2px;
        border-radius: 7px;
        height: 30px;
        width: 105px;
    }
    .border{
        width: 600px;
        height: 250px;
        padding: 30px;
    }
</style>

        {% csrf_token %}
        <div>
            <h2>Withdraw</h2>
            <hr>
            <div class="row">
                <div class="col-sm-3 text-end">
                    <label>Amount:</label>
                </div>
                <div class="col-sm-9 text-start">
                    <input type="number" id="amount" name="amount" min="100" max="5000.0" required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-end">
                    <label for="partner">Select Partner:</label>
                </div>
                <div class="col-sm-9 text-start">
                    <select name="partner" class="partner">
                        <option value="paypal">Paypal</option>
                        <option value="gcash" disabled>Gcash</option>
                        <option value="maya" disabled>Maya</option>
                    </select>
                </div>
            </div>
            <hr>
            <input class="btn btn-secondary" type="submit" value="Withdraw"></input>
            <label class="error title">{{ err }}</label>
        </div>      

{% if msg %}
<script>
    alert('{{ msg }}');
</script>
{% endif %}
{% endblock content %}