{% block content %}
<style>
    .row{
        padding-bottom: 16px;
    }
    .partner{
        border-color: black;
        border-width: 2px;
        border-radius: 7px;
        height: 35px;
        width: 100%;
    }
    .content input{
        width: 100%;
    }
</style>
    <form action="/withdraw">
        {% csrf_token %}
        <div>
            <h2 style="margin-left: 50%;">Withdraw</h2>
            <div class="row">
                <div class="col-sm-4 text-end">
                    <label>Amount:</label>
                </div>
                <div class="col-sm-8 text-start">
                    <input type="number" id="amount" name="amount" min="100" max="5000.0" required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-end">
                    <label for="partner">Select Partner:</label>
                </div>
                <div class="col-sm-8 text-start">
                    <select name="partner" class="partner">
                        <option value="paypal">Paypal</option>
                        <option value="gcash" disabled>Gcash</option>
                        <option value="maya" disabled>Maya</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <button class="btn" type="submit">Withdraw</button>
                </div>
            </div>
            <label class="error title">{{ err }}</label>
        </div>      
    </form>
{% if msg %}
<script>
    alert('{{ msg }}');
</script>
{% endif %}
{% endblock content %}